html {
    	background-image: url('./img/background-mapend.jpg');
  	background-position: relative;
	background-attachment: fixed;
  	background-size: 100% 100%;
}
body {
	font-family:sans-serif;
}
table {
    	color: white;
    	box-shadow: 0 4px 5px rgba(0,0,0,.0);
}
td {
    	color: #A9A9A9;
    	font-size:15px;
    	text-shadow: 0 1px 3px black;
}
table th { background: rgba(6, 6, 6, .7); }
#t1 td:hover { color:white; }
#t1 td {
    	color: #A9A9A9;
    	font-size:15px;
    	height:25px;
}
#s:hover { 
	color:white; 
	text-decoration: none;
}
#s { 
    	display:inline;
    	font-size:12px;
    	position:relative;
    	bottom:8px;
    	right:3px;
    	color: #A9A9A9;
    	text-shadow: 0 1px 3px black;
}
#b { background: rgba(6, 6, 6, .3); }
#t1 th:hover { color:white; }
#t1 th { 
    	color:yellow;
    	text-shadow: 1px 0 5px rgba(0,0,0,.9);
    	height:35px;
    	font-size:17px;
}
tr { text-align:center; }
#t1 th:first-child, #t1 td:first-child { 
	text-align:center;
	padding-right:3px;
	width:4%;
	max-width:4%;
}
td:nth-child(2) {  width: 65%; max-width:65%; }
th:last-child { width:10%; }
th {
	color:white;
	font-size:15px;
}
td:hover { color:yellow; }
td a:hover { text-decoration:underline; }
#a a:hover { text-decoration:none; color:white; }
td {
	color:white; 
    	font-weight: 700;
        text-align:center;
}
td a { 
	max-width:150px;
	text-decoration:none; 
}
td img { 
	max-width:25px;
	padding-right:5px;
}
#steam { 
	width:10px;
	padding-left:5px;
}
#new {
	height:15px;
	padding-left:10px; 
}
#i { 
	background: rgba(255, 255, 0, 0.2);
}
#sp { 
	white-space:nowrap; 
	text-align:left;
}
#a a { 
	color: #A9A9A9; 
    	font-weight: 100;
        text-align:center;
	padding-right:5px;
	padding-left: 5px;
}

#o1 a, #o0 a {
    	display: inline-block;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;
}
#hr1 {
    	border: 2px solid white;
    	border-style:inset;
    	border-radius:5px;
    	max-width:30%;
}
#hr2 { 
	border: 2px solid #c0c0c0;
    	border-radius:5px;
    	border-style:inset;
    	width:100%;
}
#t1 {
  	margin-left:auto; 
  	margin-right:auto;
  	margin-top: 20px;
  	margin-bottom: 20px;
  	width: 75%;
  	position:center;
  	background: rgba(6, 6, 6, .5);
  	box-shadow: 0 5px 5px rgba(0,0,0,.2);
    	border-style: inset;
    	border-width: 1px;
    	border-radius: 5px;
    	border-color: yellow;
    	border-spacing:0;
}
#th1 {
	font-size:20px;
    	max-width: 100%;
    	text-shadow: 1px 0 5px rgba(0,0,0,.4);
    	text-align:center;
}
#th2 {
  	font-size:17px;
  	text-align:left;
  	text-shadow: 1px 0 5px rgba(0,0,0,.4);
}
#th3:hover { color:white; }
#th3 {
	display: inline;
    	color:yellow;
    	text-shadow: 1px 0 5px rgba(0,0,0,.4);
    	margin-left:10px;
}
#th5:hover, #th6:hover, #th7:hover { color:white; }
#th5, #th6, #th7 {
	text-align:center;
    	font-size:25px;
    	text-shadow: 1px 0 5px rgba(0,0,0,.4);
    	box-shadow: 0 4px 5px rgba(0,0,0,.5);
}
#th5 { color:#ff4040; }
#th6 { color:#00bfff; }
#th7 { color:#f5f5f5; }
#t2 th{background: rgba(6, 6, 6, .0)}
#t2 {
  	margin-left:auto; 
  	margin-right:auto;
  	box-shadow: 0 4px 5px rgba(0,0,0,.0);
  	width: 75%;
}
#t4 th {background: rgba(6, 6, 6, .0)}
#t4 {
  	margin-left:auto; 
  	margin-right:auto;
  	width: 100%;
  	background: rgba(6, 6, 6, .5);
  	text-shadow: 1px 0 5px rgba(0,0,0,.4);
}
#t3 th { background: rgba(6, 6, 6, .0); }
#t3 {
  	margin: 20px auto;
	width:1px;
  	text-shadow: 1px 0 5px rgba(0,0,0,.4);
}
#t5 { 
	margin: auto;
	background: -webkit-linear-gradient(left, transparent, rgba(0,0,0,.3), transparent); 
	width:100%;
}
#td2:hover { color:white; }
#td2 {
	text-align:left;
	color:#a9a9a9;
    	height:1;
    	font-size:14px;
    	font-weight:700;
    	background: rgba(6, 6, 6, .0);
}
#td3:hover { color:white; }
#td3 {
    	text-align:right;
    	font-size:16px;
    	font-weight:800;
    	color:yellow;
}
#th4:hover { color:white; }
#th4 {
	text-align:left;
    	color:#dcdcdc;
    	font-size:25px;
    	padding-bottom:10px;
    	text-shadow: 1px 0 5px rgba(0,0,0,.4);
    	white-space:nowrap;
    	overflow:hidden;
}
#th4 a { 
	padding-left:5px;
	float:right;
}

#s:hover { color:white; }
#s { text-shadow: 0 1px 3px black; }

#r1:hover, #r2:hover, #r3:hover, #r4:hover, #r5:hover, #r6:hover, #r7:hover, #r8:hover, #r9:hover, #r10:hover, #r11:hover, #r12:hover, #r13:hover, #r14:hover, #r15:hover, #r16:hover, #r17:hover, #r18:hover, #r19:hover { -webkit-transform: scale(1.1); }
#r1, #r2, #r3, #r4, #r5, #r6, #r7, #r8, #r9, #r10, #r11, #r12, #r13, #r14, #r15, #r16, #r17, #r18, #r19  {
    	background-repeat: no-repeat;
    	background-position: center;
    	background-size: 80%;
}

#r1 { background-image: url('./img/ranks/rank0.png'); }
#r2 { background-image: url('./img/ranks/rank1.png'); }
#r3 { background-image: url('./img/ranks/rank2.png'); }
#r4 { background-image: url('./img/ranks/rank3.png'); }
#r5 { background-image: url('./img/ranks/rank4.png'); }
#r6 { background-image: url('./img/ranks/rank5.png'); }
#r7 { background-image: url('./img/ranks/rank6.png'); }
#r8 { background-image: url('./img/ranks/rank7.png'); }
#r9 { background-image: url('./img/ranks/rank8.png'); }
#r10 { background-image: url('./img/ranks/rank9.png'); }
#r11 { background-image: url('./img/ranks/rank10.png'); }
#r12 { background-image: url('./img/ranks/rank11.png'); }
#r13 { background-image: url('./img/ranks/rank12.png'); }
#r14 { background-image: url('./img/ranks/rank13.png'); }
#r15 { background-image: url('./img/ranks/rank14.png'); }
#r16 { background-image: url('./img/ranks/rank15.png'); }
#r17 { background-image: url('./img/ranks/rank16.png'); }
#r18 { background-image: url('./img/ranks/rank17.png'); }
#r19 { background-image: url('./img/ranks/rank18.png'); }

#z:hover, #w:hover, #y:hover { -webkit-transform: scale(1.1); }
#z, #w, #y {
    	background-repeat: no-repeat;
    	background-position: center;
}
#z { background-image: url('./img/icon-first.png'); }
#w { background-image: url('./img/icon-second.png'); }
#y { background-image: url('./img/icon-third.png'); }

#o0, #o1 { 
	display:inline-block;
	background-repeat: no-repeat;
	background-position-y:center;
	padding-left:15px;
}
#o0 { background-image: url('./img/offline.png'); }
#o1 { background-image: url('./img/online.png'); }

#k, #d, #m, #kd {
    	background-repeat: no-repeat;
    	background-position: center;
    	box-shadow: 0px 4px 5px rgba(0,0,0,0 .9);
    	width:4%;
}
#k { background-image: url('./img/icon-kills.png'); }
#d { background-image: url('./img/icon-skull.png'); }
#kd { background-image: url('./img/icon-kd.png'); }
#m { background-image: url('./img/icon-star.png'); }

#p { font-weight:100; }

#nn, #ad, #ae, #af, #ag, #ai, #al, #am, #ao, #aq, #ar, #as, #at, #au, #aw, #az, #ba, #bb, #bd, #be, #bf, #bg, #bh, #bi, #bj, #bm, #bn, #bo, #br, #bs, #bt, #bw, #by, #bz, #ca, #cc, #cd, #cf, #cg, #ch, #ci, #ck, #cl, #cm, #cn, #co, #cr, #cu, #cw, #cx, #cy, #cz, #de, #dj, #dk, #dm, #do, #dz, #ec, #ee, #eg, #eh, #er, #es, #et, #fi, #fj, #fk, #fo, #fr, #ga, #gb, #gd, #ge, #gg, #gh, #gi, #gl, #gm, #gn, #gq, #gr, #gt, #gu, #gw, #gy, #hk, #hn, #hr, #ht, #hu, #id, #ie, #il, #im, #in, #io, #iq, #ir, #is, #it, #je, #jm, #jo, #jp, #ke, #kg, #kh, #ki, #km, #kn, #kp, #kr, #kw, #ky, #kz, #la, #lb, #lc, #li, #lk, #lr, #ls, #lt, #lu, #lv, #ly, #ma, #mc, #md, #me, #mg, #mh, #mk, #ml, #mm, #mn, #mp, #mr, #ms, #mt, #mu, #mv, #mw, #mx, #my, #mz, #na, #ne, #ng, #ni, #nl, #np, #nr, #nu, #nz, #om, #pa, #pe, #pf, #pg, #ph, #pk, #pl, #pn, #pr, #pt, #pw, #py, #qa, #ro, #rs, #ru, #rw, #sa, #sb, #sc, #sd, #se, #sg, #sh, #si, #sj, #sk, #sl, #sm, #sn, #so, #sr, #ss, #st, #sv, #sx, #sy, #sz, #tc, #td, #tg, #th, #tj, #tk, #tm, #tn, #to, #tr, #tt, #tv, #tw, #tz, #ua, #ug, #us, #uy, #uz, #vc, #ve, #vn, #vu, #wf, #ws, #ye, #yt, #xk, #za, #zm, #zw
{
    	background-repeat: no-repeat;
	background-position-y:center;
	padding-left:25px;
	display: inline-block;
}
#nn { background-image: url('./img/countries/nn.png'); }
#ad { background-image: url('./img/countries/ad.png'); }
#ae { background-image: url('./img/countries/ae.png'); }
#af { background-image: url('./img/countries/af.png'); }
#ag { background-image: url('./img/countries/ag.png'); }
#ai { background-image: url('./img/countries/ai.png'); }
#al { background-image: url('./img/countries/al.png'); }
#am { background-image: url('./img/countries/am.png'); }
#ao { background-image: url('./img/countries/ao.png'); }
#aq { background-image: url('./img/countries/aq.png'); }
#ar { background-image: url('./img/countries/ar.png'); }
#as { background-image: url('./img/countries/as.png'); }
#at { background-image: url('./img/countries/at.png'); }
#au { background-image: url('./img/countries/au.png'); }
#aw { background-image: url('./img/countries/aw.png'); }
#az { background-image: url('./img/countries/az.png'); }
#ba { background-image: url('./img/countries/ba.png'); }
#bb { background-image: url('./img/countries/bb.png'); }
#bd { background-image: url('./img/countries/bd.png'); }
#be { background-image: url('./img/countries/be.png'); }
#bf { background-image: url('./img/countries/bf.png'); }
#bg { background-image: url('./img/countries/bg.png'); }
#bh { background-image: url('./img/countries/bh.png'); }
#bi { background-image: url('./img/countries/bi.png'); }
#bj { background-image: url('./img/countries/bj.png'); }
#bm { background-image: url('./img/countries/bm.png'); }
#bn { background-image: url('./img/countries/bn.png'); }
#bo { background-image: url('./img/countries/bo.png'); }
#br { background-image: url('./img/countries/br.png'); }
#bs { background-image: url('./img/countries/bs.png'); }
#bt { background-image: url('./img/countries/bt.png'); }
#bw { background-image: url('./img/countries/bw.png'); }
#by { background-image: url('./img/countries/by.png'); }
#bz { background-image: url('./img/countries/bz.png'); }
#ca { background-image: url('./img/countries/ca.png'); }
#cc { background-image: url('./img/countries/cc.png'); }
#cd { background-image: url('./img/countries/cd.png'); }
#cf { background-image: url('./img/countries/cf.png'); }
#cg { background-image: url('./img/countries/cg.png'); }
#ch { background-image: url('./img/countries/ch.png'); }
#ci { background-image: url('./img/countries/ci.png'); }
#ck { background-image: url('./img/countries/ck.png'); }
#cl { background-image: url('./img/countries/cl.png'); }
#cm { background-image: url('./img/countries/cm.png'); }
#cn { background-image: url('./img/countries/cn.png'); }
#co { background-image: url('./img/countries/co.png'); }
#cr { background-image: url('./img/countries/cr.png'); }
#cu { background-image: url('./img/countries/cu.png'); }
#cw { background-image: url('./img/countries/cw.png'); }
#cx { background-image: url('./img/countries/cx.png'); }
#cy { background-image: url('./img/countries/cy.png'); }
#cz { background-image: url('./img/countries/cz.png'); }
#de { background-image: url('./img/countries/de.png'); }
#dj { background-image: url('./img/countries/dj.png'); }
#dk { background-image: url('./img/countries/dk.png'); }
#dm { background-image: url('./img/countries/dm.png'); }
#do { background-image: url('./img/countries/do.png'); }
#dz { background-image: url('./img/countries/dz.png'); }
#ec { background-image: url('./img/countries/ec.png'); }
#ee { background-image: url('./img/countries/ee.png'); }
#eg { background-image: url('./img/countries/eg.png'); }
#eh { background-image: url('./img/countries/eh.png'); }
#er { background-image: url('./img/countries/er.png'); }
#es { background-image: url('./img/countries/es.png'); }
#et { background-image: url('./img/countries/et.png'); }
#fi { background-image: url('./img/countries/fi.png'); }
#fj { background-image: url('./img/countries/fj.png'); }
#fk { background-image: url('./img/countries/fk.png'); }
#fo { background-image: url('./img/countries/fo.png'); }
#fr { background-image: url('./img/countries/fr.png'); }
#ga { background-image: url('./img/countries/ga.png'); }
#gb { background-image: url('./img/countries/gb.png'); }
#gd { background-image: url('./img/countries/gd.png'); }
#ge { background-image: url('./img/countries/ge.png'); }
#gg { background-image: url('./img/countries/gg.png'); }
#gh { background-image: url('./img/countries/gh.png'); }
#gi { background-image: url('./img/countries/gi.png'); }
#gl { background-image: url('./img/countries/gl.png'); }
#gm { background-image: url('./img/countries/gm.png'); }
#gn { background-image: url('./img/countries/gn.png'); }
#gq { background-image: url('./img/countries/gq.png'); }
#gr { background-image: url('./img/countries/gr.png'); }
#gt { background-image: url('./img/countries/gt.png'); }
#gu { background-image: url('./img/countries/gu.png'); }
#gw { background-image: url('./img/countries/gw.png'); }
#gy { background-image: url('./img/countries/gy.png'); }
#hk { background-image: url('./img/countries/hk.png'); }
#hn { background-image: url('./img/countries/hn.png'); }
#hr { background-image: url('./img/countries/hr.png'); }
#ht { background-image: url('./img/countries/ht.png'); }
#hu { background-image: url('./img/countries/hu.png'); }
#id { background-image: url('./img/countries/id.png'); }
#ie { background-image: url('./img/countries/ie.png'); }
#il { background-image: url('./img/countries/il.png'); }
#im { background-image: url('./img/countries/im.png'); }
#in { background-image: url('./img/countries/in.png'); }
#io { background-image: url('./img/countries/io.png'); }
#iq { background-image: url('./img/countries/iq.png'); }
#ir { background-image: url('./img/countries/ir.png'); }
#is { background-image: url('./img/countries/is.png'); }
#it { background-image: url('./img/countries/it.png'); }
#je { background-image: url('./img/countries/je.png'); }
#jm { background-image: url('./img/countries/jm.png'); }
#jo { background-image: url('./img/countries/jo.png'); }
#jp { background-image: url('./img/countries/jp.png'); }
#ke { background-image: url('./img/countries/ke.png'); }
#kg { background-image: url('./img/countries/kg.png'); }
#kh { background-image: url('./img/countries/kh.png'); }
#ki { background-image: url('./img/countries/ki.png'); }
#km { background-image: url('./img/countries/km.png'); }
#kn { background-image: url('./img/countries/kn.png'); }
#kp { background-image: url('./img/countries/kp.png'); }
#kr { background-image: url('./img/countries/kr.png'); }
#kw { background-image: url('./img/countries/kw.png'); }
#ky { background-image: url('./img/countries/ky.png'); }
#kz { background-image: url('./img/countries/kz.png'); }
#la { background-image: url('./img/countries/la.png'); }
#lb { background-image: url('./img/countries/lb.png'); }
#lc { background-image: url('./img/countries/lc.png'); }
#li { background-image: url('./img/countries/li.png'); }
#lk { background-image: url('./img/countries/lk.png'); }
#lr { background-image: url('./img/countries/lr.png'); }
#ls { background-image: url('./img/countries/ls.png'); }
#lt { background-image: url('./img/countries/lt.png'); }
#lu { background-image: url('./img/countries/lu.png'); }
#lv { background-image: url('./img/countries/lv.png'); }
#ly { background-image: url('./img/countries/ly.png'); }
#ma { background-image: url('./img/countries/ma.png'); }
#mc { background-image: url('./img/countries/mc.png'); }
#md { background-image: url('./img/countries/md.png'); }
#me { background-image: url('./img/countries/me.png'); }
#mg { background-image: url('./img/countries/mg.png'); }
#mh { background-image: url('./img/countries/mh.png'); }
#mk { background-image: url('./img/countries/mk.png'); }
#ml { background-image: url('./img/countries/ml.png'); }
#mm { background-image: url('./img/countries/mm.png'); }
#mn { background-image: url('./img/countries/mn.png'); }
#mp { background-image: url('./img/countries/mp.png'); }
#mr { background-image: url('./img/countries/mr.png'); }
#ms { background-image: url('./img/countries/ms.png'); }
#mt { background-image: url('./img/countries/mt.png'); }
#mu { background-image: url('./img/countries/mu.png'); }
#mv { background-image: url('./img/countries/mv.png'); }
#mw { background-image: url('./img/countries/mw.png'); }
#mx { background-image: url('./img/countries/mx.png'); }
#my { background-image: url('./img/countries/my.png'); }
#mz { background-image: url('./img/countries/mz.png'); }
#na { background-image: url('./img/countries/na.png'); }
#ne { background-image: url('./img/countries/ne.png'); }
#ng { background-image: url('./img/countries/ng.png'); }
#ni { background-image: url('./img/countries/ni.png'); }
#nl { background-image: url('./img/countries/nl.png'); }
#np { background-image: url('./img/countries/np.png'); }
#nr { background-image: url('./img/countries/nr.png'); }
#nu { background-image: url('./img/countries/nu.png'); }
#nz { background-image: url('./img/countries/nz.png'); }
#om { background-image: url('./img/countries/om.png'); }
#pa { background-image: url('./img/countries/pa.png'); }
#pe { background-image: url('./img/countries/pe.png'); }
#pf { background-image: url('./img/countries/pf.png'); }
#pg { background-image: url('./img/countries/pg.png'); }
#ph { background-image: url('./img/countries/ph.png'); }
#pk { background-image: url('./img/countries/pk.png'); }
#pl { background-image: url('./img/countries/pl.png'); }
#pn { background-image: url('./img/countries/pn.png'); }
#pr { background-image: url('./img/countries/pr.png'); }
#pt { background-image: url('./img/countries/pt.png'); }
#pw { background-image: url('./img/countries/pw.png'); }
#py { background-image: url('./img/countries/py.png'); }
#qa { background-image: url('./img/countries/qa.png'); }
#ro { background-image: url('./img/countries/ro.png'); }
#rs { background-image: url('./img/countries/rs.png'); }
#ru { background-image: url('./img/countries/ru.png'); }
#rw { background-image: url('./img/countries/rw.png'); }
#sa { background-image: url('./img/countries/sa.png'); }
#sb { background-image: url('./img/countries/sb.png'); }
#sc { background-image: url('./img/countries/sc.png'); }
#sd { background-image: url('./img/countries/sd.png'); }
#se { background-image: url('./img/countries/se.png'); }
#sg { background-image: url('./img/countries/sg.png'); }
#sh { background-image: url('./img/countries/sh.png'); }
#si { background-image: url('./img/countries/si.png'); }
#sj { background-image: url('./img/countries/sj.png'); }
#sk { background-image: url('./img/countries/sk.png'); }
#sl { background-image: url('./img/countries/sl.png'); }
#sm { background-image: url('./img/countries/sm.png'); }
#sn { background-image: url('./img/countries/sn.png'); }
#so { background-image: url('./img/countries/so.png'); }
#sr { background-image: url('./img/countries/sr.png'); }
#ss { background-image: url('./img/countries/ss.png'); }
#st { background-image: url('./img/countries/st.png'); }
#sv { background-image: url('./img/countries/sv.png'); }
#sx { background-image: url('./img/countries/sx.png'); }
#sy { background-image: url('./img/countries/sy.png'); }
#sz { background-image: url('./img/countries/sz.png'); }
#tc { background-image: url('./img/countries/tc.png'); }
#td { background-image: url('./img/countries/td.png'); }
#tg { background-image: url('./img/countries/tg.png'); }
#th { background-image: url('./img/countries/th.png'); }
#tj { background-image: url('./img/countries/tj.png'); }
#tk { background-image: url('./img/countries/tk.png'); }
#tm { background-image: url('./img/countries/tm.png'); }
#tn { background-image: url('./img/countries/tn.png'); }
#to { background-image: url('./img/countries/to.png'); }
#tr { background-image: url('./img/countries/tr.png'); }
#tt { background-image: url('./img/countries/tt.png'); }
#tv { background-image: url('./img/countries/tv.png'); }
#tw { background-image: url('./img/countries/tw.png'); }
#tz { background-image: url('./img/countries/tz.png'); }
#ua { background-image: url('./img/countries/ua.png'); }
#ug { background-image: url('./img/countries/ug.png'); }
#us { background-image: url('./img/countries/us.png'); }
#uy { background-image: url('./img/countries/uy.png'); }
#uz { background-image: url('./img/countries/uz.png'); }
#vc { background-image: url('./img/countries/vc.png'); }
#ve { background-image: url('./img/countries/ve.png'); }
#vn { background-image: url('./img/countries/vn.png'); }
#vu { background-image: url('./img/countries/vu.png'); }
#wf { background-image: url('./img/countries/wf.png'); }
#ws { background-image: url('./img/countries/ws.png'); }
#ye { background-image: url('./img/countries/ye.png'); }
#yt { background-image: url('./img/countries/yt.png'); }
#xk { background-image: url('./img/countries/xk.png'); }
#za { background-image: url('./img/countries/za.png'); }
#zm { background-image: url('./img/countries/zm.png'); }
#zw { background-image: url('./img/countries/zw.png'); }

@media screen and (max-height: 515px) {
	#t1 {  	margin-bottom: 10px!important; }
	#t3 { margin: 15px auto!important; }
	#th4 { padding-bottom:5px!important; }
}

@media screen and (max-height: 480px) {
	#th1 { font-size:18px!important; }
	#th2 { font-size:15px!important; }
	#th5, #th6, #th7 { font-size:23px!important; }
	#t1 {  	margin-bottom: 10px!important; }
	#t1 th:first-child, #t1 td:first-child { 
		padding-right:10px!important; 
		padding-left:8px!important;
	}
	td img { 
		max-width:15px!important;
	}
	#steam { 
		width:9px!important; 
		padding-left:5px!important; 
	}
	#new { 
		max-width: 25px!important;
		height:15px!important; 
		padding-left:10px!important; 
	}
	#t1 td {
    		color: #A9A9A9!important;
    		font-size:14px!important;
    		height:25px!important;
	}
	#t1 th { 
    		height:30px!important;
    		font-size:15px!important;
	}
	#s { 
		font-size:10px!important; 
		right:1px!important;
	}
	#o0, #o1 { 
		background-size:7px!important;
		padding-left:12px!important;
	}
	#r1, #r2, #r3, #r4, #r5, #r6, #r7, #r8, #r9, #r10, #r11, #r12, #r13, #r14, #r15, #r16, #r17, #r18, #r19  {
    		background-size: 85%!important;
	}
	#nn, #ad, #ae, #af, #ag, #ai, #al, #am, #ao, #aq, #ar, #as, #at, #au, #aw, #az, #ba, #bb, #bd, #be, #bf, #bg, #bh, #bi, #bj, #bm, #bn, #bo, #br, #bs, #bt, #bw, #by, #bz, #ca, #cc, #cd, #cf, #cg, #ch, #ci, #ck, #cl, #cm, #cn, #co, #cr, #cu, #cw, #cx, #cy, #cz, #de, #dj, #dk, #dm, #do, #dz, #ec, #ee, #eg, #eh, #er, #es, #et, #fi, #fj, #fk, #fo, #fr, #ga, #gb, #gd, #ge, #gg, #gh, #gi, #gl, #gm, #gn, #gq, #gr, #gt, #gu, #gw, #gy, #hk, #hn, #hr, #ht, #hu, #id, #ie, #il, #im, #in, #io, #iq, #ir, #is, #it, #je, #jm, #jo, #jp, #ke, #kg, #kh, #ki, #km, #kn, #kp, #kr, #kw, #ky, #kz, #la, #lb, #lc, #li, #lk, #lr, #ls, #lt, #lu, #lv, #ly, #ma, #mc, #md, #me, #mg, #mh, #mk, #ml, #mm, #mn, #mp, #mr, #ms, #mt, #mu, #mv, #mw, #mx, #my, #mz, #na, #ne, #ng, #ni, #nl, #np, #nr, #nu, #nz, #om, #pa, #pe, #pf, #pg, #ph, #pk, #pl, #pn, #pr, #pt, #pw, #py, #qa, #ro, #rs, #ru, #rw, #sa, #sb, #sc, #sd, #se, #sg, #sh, #si, #sj, #sk, #sl, #sm, #sn, #so, #sr, #ss, #st, #sv, #sx, #sy, #sz, #tc, #td, #tg, #th, #tj, #tk, #tm, #tn, #to, #tr, #tt, #tv, #tw, #tz, #ua, #ug, #us, #uy, #uz, #vc, #ve, #vn, #vu, #wf, #ws, #ye, #yt, #xk, #za, #zm, #zw
	{
    		background-size:20px!important;
		padding-left:25px!important;
	}
	#k { background-size:50px!important;  }
	#d { background-size:22px!important; }
	#kd { background-size:27px!important; }
	#m { background-size:20px!important; }
	#a a { padding-right: 5px!important; }
	#t3 { margin: 15px auto!important; line-height:22px!important; }
	#th4 { 
		font-size:23px!important; 
		padding-bottom:10px!important;
	}
	#th4 a { padding-left:0!important; }
	#td2 { font-size:13px!important; }
	#td3 { font-size:14px!important; }
}

@media screen and (max-height: 450px) {
	#t2 { line-height:5px!important; }
	#hr1 { margin-top:15px!important; }
	#hr0 { margin-top:10px!important; }
	#t1 {  	margin-bottom: 10px!important; }
	td img { padding-right: 3px; }
	#t3 { margin: 15px auto!important; line-height:20px!important; }
	#th4 { padding-bottom:10px!important; }
}

@media screen and (max-height: 435px) {
	#th1 { font-size:17px!important; }
	#th2 { font-size:14px!important; }
	#th5, #th6, #th7 { font-size:22px!important; }
	#t1 { 
		margin-bottom: 10px!important; 
		margin-top: 15px!important;
	}
	#t1 th:first-child, #t1 td:first-child { 
		padding-right:8px!important; 
		padding-left:7px!important;
	}
	td img { 
		max-width:13px!important;
		padding-left:0!important;
	}
	#steam { 
		width:8px!important; 
		padding-left:5px!important; 
	}
	#new { 
		max-width: 25px!important;
		height:13px!important; 
		padding-left:10px!important; 
	}
	#t1 td {
    		color: #A9A9A9!important;
    		font-size:13px!important;
    		height:23px!important;
	}
	#t1 th { 
    		height:28px!important;
    		font-size:14px!important;
	}
	#s { 
		font-size:10px!important; 
		right:1px!important;
	}
	#o0, #o1 { 
		background-size:7px!important;
		padding-left:12px!important;
	}
	#r1, #r2, #r3, #r4, #r5, #r6, #r7, #r8, #r9, #r10, #r11, #r12, #r13, #r14, #r15, #r16, #r17, #r18, #r19  {
    		background-size: 85%!important;
	}
	#nn, #ad, #ae, #af, #ag, #ai, #al, #am, #ao, #aq, #ar, #as, #at, #au, #aw, #az, #ba, #bb, #bd, #be, #bf, #bg, #bh, #bi, #bj, #bm, #bn, #bo, #br, #bs, #bt, #bw, #by, #bz, #ca, #cc, #cd, #cf, #cg, #ch, #ci, #ck, #cl, #cm, #cn, #co, #cr, #cu, #cw, #cx, #cy, #cz, #de, #dj, #dk, #dm, #do, #dz, #ec, #ee, #eg, #eh, #er, #es, #et, #fi, #fj, #fk, #fo, #fr, #ga, #gb, #gd, #ge, #gg, #gh, #gi, #gl, #gm, #gn, #gq, #gr, #gt, #gu, #gw, #gy, #hk, #hn, #hr, #ht, #hu, #id, #ie, #il, #im, #in, #io, #iq, #ir, #is, #it, #je, #jm, #jo, #jp, #ke, #kg, #kh, #ki, #km, #kn, #kp, #kr, #kw, #ky, #kz, #la, #lb, #lc, #li, #lk, #lr, #ls, #lt, #lu, #lv, #ly, #ma, #mc, #md, #me, #mg, #mh, #mk, #ml, #mm, #mn, #mp, #mr, #ms, #mt, #mu, #mv, #mw, #mx, #my, #mz, #na, #ne, #ng, #ni, #nl, #np, #nr, #nu, #nz, #om, #pa, #pe, #pf, #pg, #ph, #pk, #pl, #pn, #pr, #pt, #pw, #py, #qa, #ro, #rs, #ru, #rw, #sa, #sb, #sc, #sd, #se, #sg, #sh, #si, #sj, #sk, #sl, #sm, #sn, #so, #sr, #ss, #st, #sv, #sx, #sy, #sz, #tc, #td, #tg, #th, #tj, #tk, #tm, #tn, #to, #tr, #tt, #tv, #tw, #tz, #ua, #ug, #us, #uy, #uz, #vc, #ve, #vn, #vu, #wf, #ws, #ye, #yt, #xk, #za, #zm, #zw
	{
    		background-size:18px!important;
		padding-left:22px!important;
	}
	#z, #w, #y { background-size: 75%!important; }
	#k { background-size:47px!important;  }
	#d { background-size:20px!important; }
	#kd { background-size:25px!important; }
	#m { background-size:18px!important; }
	#a a { padding-right: 5px!important; padding-left: 5px!important; }
	#t3 { margin: 15px auto!important; line-height:19px!important; }
	#th4 { 
		font-size:22px!important; 
		padding-bottom:10px!important;
	}
	#th4 a { padding-left:0!important; }
	#td2 { font-size:12px!important; }
	#td3 { font-size:13px!important; }
}

@media screen and (max-height: 400px) {
	#t2 { line-height:1px!important; }
	#hr1 { margin-top:15px!important; }
	#hr0 { margin-top:10px!important; }
	#th1 { font-size:14px!important; }
	#th2 { font-size:12px!important; }
	#th5, #th6, #th7 { font-size:19px!important; }
	#t1 {  	
		margin-top: 20px!important;
  		margin-bottom: 20px!important;
	}
	td img { 
		max-width:12px!important;
	}
	#steam { 
		width:8px!important; 
		padding-left:3px!important; 
	}
	#t1 td {
    		color: #A9A9A9!important;
    		font-size:12px!important;
    		height:20px!important;
	}
	#t1 th { 
    		height:25px!important;
    		font-size:13px!important;
	}
	#s { 
		font-size:9px!important; 
		bottom:6px!important;
		right:0!important;
	}
	#o0, #o1 { 
		background-size:6px!important;
		padding-left:12px!important;
	}
	#r1, #r2, #r3, #r4, #r5, #r6, #r7, #r8, #r9, #r10, #r11, #r12, #r13, #r14, #r15, #r16, #r17, #r18, #r19  {
    		background-size: 85%!important;
	}
	#nn, #ad, #ae, #af, #ag, #ai, #al, #am, #ao, #aq, #ar, #as, #at, #au, #aw, #az, #ba, #bb, #bd, #be, #bf, #bg, #bh, #bi, #bj, #bm, #bn, #bo, #br, #bs, #bt, #bw, #by, #bz, #ca, #cc, #cd, #cf, #cg, #ch, #ci, #ck, #cl, #cm, #cn, #co, #cr, #cu, #cw, #cx, #cy, #cz, #de, #dj, #dk, #dm, #do, #dz, #ec, #ee, #eg, #eh, #er, #es, #et, #fi, #fj, #fk, #fo, #fr, #ga, #gb, #gd, #ge, #gg, #gh, #gi, #gl, #gm, #gn, #gq, #gr, #gt, #gu, #gw, #gy, #hk, #hn, #hr, #ht, #hu, #id, #ie, #il, #im, #in, #io, #iq, #ir, #is, #it, #je, #jm, #jo, #jp, #ke, #kg, #kh, #ki, #km, #kn, #kp, #kr, #kw, #ky, #kz, #la, #lb, #lc, #li, #lk, #lr, #ls, #lt, #lu, #lv, #ly, #ma, #mc, #md, #me, #mg, #mh, #mk, #ml, #mm, #mn, #mp, #mr, #ms, #mt, #mu, #mv, #mw, #mx, #my, #mz, #na, #ne, #ng, #ni, #nl, #np, #nr, #nu, #nz, #om, #pa, #pe, #pf, #pg, #ph, #pk, #pl, #pn, #pr, #pt, #pw, #py, #qa, #ro, #rs, #ru, #rw, #sa, #sb, #sc, #sd, #se, #sg, #sh, #si, #sj, #sk, #sl, #sm, #sn, #so, #sr, #ss, #st, #sv, #sx, #sy, #sz, #tc, #td, #tg, #th, #tj, #tk, #tm, #tn, #to, #tr, #tt, #tv, #tw, #tz, #ua, #ug, #us, #uy, #uz, #vc, #ve, #vn, #vu, #wf, #ws, #ye, #yt, #xk, #za, #zm, #zw
	{
    		background-size:17px!important;
		padding-left:22px!important;
	}
	#k { background-size:42px!important;  }
	#d { background-size:18px!important; }
	#kd { background-size:23px!important; }
	#m { background-size:17px!important; }
	#a a { padding-right: 5px!important; }
	#hr2 { border: 1px solid #c0c0c0!important; }
	#t3 { margin: 15px auto!important; line-height:16px!important; }
	#th4 { font-size:18px!important; }
	#th4 a { padding-left:0!important; }
	#td2 { font-size:11px!important; }
	#td3 { font-size:12px!important; }
}

@media screen and (max-height: 385px) {
	#t2 { line-height:1px!important; }
	#hr1 { margin-top:15px!important; }
	#hr0 { margin-top:10px!important; }
	#th1 { font-size:14px!important; }
	#th2 { font-size:12px!important; }
	#th5, #th6, #th7 { font-size:19px!important; }
	#t1 {  	
		margin-top: 15px!important;
  		margin-bottom: 15px!important;
	}
	td img { 
		max-width:12px!important;
	}
	#steam { 
		width:7px!important; 
		padding-left:5px!important; 
	}
	#new { 
		max-width: 25px!important;
		height:12px!important; 
		padding-left:10px!important; 
	}
	#t1 td {
    		color: #A9A9A9!important;
    		font-size:12px!important;
    		height:20px!important;
	}
	#t1 th { 
    		height:25px!important;
    		font-size:13px!important;
	}
	#s { 
		font-size:9px!important; 
		bottom:6px!important;
		right:0!important;
	}
	#o0, #o1 { 
		background-size:6px!important;
		padding-left:12px!important;
	}
	#r1, #r2, #r3, #r4, #r5, #r6, #r7, #r8, #r9, #r10, #r11, #r12, #r13, #r14, #r15, #r16, #r17, #r18, #r19  {
    		background-size: 85%!important;
	}
	#nn, #ad, #ae, #af, #ag, #ai, #al, #am, #ao, #aq, #ar, #as, #at, #au, #aw, #az, #ba, #bb, #bd, #be, #bf, #bg, #bh, #bi, #bj, #bm, #bn, #bo, #br, #bs, #bt, #bw, #by, #bz, #ca, #cc, #cd, #cf, #cg, #ch, #ci, #ck, #cl, #cm, #cn, #co, #cr, #cu, #cw, #cx, #cy, #cz, #de, #dj, #dk, #dm, #do, #dz, #ec, #ee, #eg, #eh, #er, #es, #et, #fi, #fj, #fk, #fo, #fr, #ga, #gb, #gd, #ge, #gg, #gh, #gi, #gl, #gm, #gn, #gq, #gr, #gt, #gu, #gw, #gy, #hk, #hn, #hr, #ht, #hu, #id, #ie, #il, #im, #in, #io, #iq, #ir, #is, #it, #je, #jm, #jo, #jp, #ke, #kg, #kh, #ki, #km, #kn, #kp, #kr, #kw, #ky, #kz, #la, #lb, #lc, #li, #lk, #lr, #ls, #lt, #lu, #lv, #ly, #ma, #mc, #md, #me, #mg, #mh, #mk, #ml, #mm, #mn, #mp, #mr, #ms, #mt, #mu, #mv, #mw, #mx, #my, #mz, #na, #ne, #ng, #ni, #nl, #np, #nr, #nu, #nz, #om, #pa, #pe, #pf, #pg, #ph, #pk, #pl, #pn, #pr, #pt, #pw, #py, #qa, #ro, #rs, #ru, #rw, #sa, #sb, #sc, #sd, #se, #sg, #sh, #si, #sj, #sk, #sl, #sm, #sn, #so, #sr, #ss, #st, #sv, #sx, #sy, #sz, #tc, #td, #tg, #th, #tj, #tk, #tm, #tn, #to, #tr, #tt, #tv, #tw, #tz, #ua, #ug, #us, #uy, #uz, #vc, #ve, #vn, #vu, #wf, #ws, #ye, #yt, #xk, #za, #zm, #zw
	{
    		background-size:17px!important;
		padding-left:20px!important;
	}
	#z, #w, #y { background-size: 80%!important; }
	#k { background-size:42px!important;  }
	#d { background-size:18px!important; }
	#kd { background-size:23px!important; }
	#m { background-size:17px!important; }
	#a a { padding-right: 5px!important; }
	#hr2 { border: 1px solid #c0c0c0!important; }
	#t3 { margin: 15px auto!important; line-height:15px!important; }
	#th4 { 
		font-size:18px!important; 
		padding-bottom:10px!important;
	}
	#th4 a { padding-left:0!important; }
	#td2 { font-size:11px!important; }
	#td3 { font-size:12px!important; }
}

@media screen and (max-height: 360px) {
	#t2 { line-height:0px!important; }
	#t1 { margin-top: 10px!important; margin-bottom: 10px!important; }
	#t3 { margin: 10px auto!important; line-height:15px!important; }
}

@media screen and (max-height: 332px) {
	#t2 { line-height:0px!important; }
	#hr1 { margin-top:15px!important; }
	#th1 { font-size:13px!important; }
	#th2 { font-size:11px!important; }
	#hr0 { margin-top:12px!important; }
	#th5, #th6, #th7 { font-size:17px!important; }
	#t1 {  	
		margin-top: 15px!important;
  		margin-bottom: 15px!important;
	}
	td img { 
		max-width:10px!important;
	}
	#steam { 
		width:6px!important; 
		padding-left:3px!important; 
	}
	#t1 td {
    		color: #A9A9A9!important;
    		font-size:11px!important;
    		height:15px!important;
	}
	#t1 th { 
    		height:20px!important;
    		font-size:12px!important;
	}
	#s { 
		font-size:8px!important; 
		bottom:3px!important;
		right:0!important;
	}
	#o0, #o1 { 
		background-size:5px!important;
		padding-left:10px!important;
	}
	#r1, #r2, #r3, #r4, #r5, #r6, #r7, #r8, #r9, #r10, #r11, #r12, #r13, #r14, #r15, #r16, #r17, #r18, #r19  {
    		background-size: 85%!important;
	}
	#nn, #ad, #ae, #af, #ag, #ai, #al, #am, #ao, #aq, #ar, #as, #at, #au, #aw, #az, #ba, #bb, #bd, #be, #bf, #bg, #bh, #bi, #bj, #bm, #bn, #bo, #br, #bs, #bt, #bw, #by, #bz, #ca, #cc, #cd, #cf, #cg, #ch, #ci, #ck, #cl, #cm, #cn, #co, #cr, #cu, #cw, #cx, #cy, #cz, #de, #dj, #dk, #dm, #do, #dz, #ec, #ee, #eg, #eh, #er, #es, #et, #fi, #fj, #fk, #fo, #fr, #ga, #gb, #gd, #ge, #gg, #gh, #gi, #gl, #gm, #gn, #gq, #gr, #gt, #gu, #gw, #gy, #hk, #hn, #hr, #ht, #hu, #id, #ie, #il, #im, #in, #io, #iq, #ir, #is, #it, #je, #jm, #jo, #jp, #ke, #kg, #kh, #ki, #km, #kn, #kp, #kr, #kw, #ky, #kz, #la, #lb, #lc, #li, #lk, #lr, #ls, #lt, #lu, #lv, #ly, #ma, #mc, #md, #me, #mg, #mh, #mk, #ml, #mm, #mn, #mp, #mr, #ms, #mt, #mu, #mv, #mw, #mx, #my, #mz, #na, #ne, #ng, #ni, #nl, #np, #nr, #nu, #nz, #om, #pa, #pe, #pf, #pg, #ph, #pk, #pl, #pn, #pr, #pt, #pw, #py, #qa, #ro, #rs, #ru, #rw, #sa, #sb, #sc, #sd, #se, #sg, #sh, #si, #sj, #sk, #sl, #sm, #sn, #so, #sr, #ss, #st, #sv, #sx, #sy, #sz, #tc, #td, #tg, #th, #tj, #tk, #tm, #tn, #to, #tr, #tt, #tv, #tw, #tz, #ua, #ug, #us, #uy, #uz, #vc, #ve, #vn, #vu, #wf, #ws, #ye, #yt, #xk, #za, #zm, #zw
	{
    		background-size:15px!important;
		padding-left:20px!important;
	}
	#z, #w, #y { background-size: 70%!important; }
	#k { background-size:35px!important;  }
	#d { background-size:15px!important; }
	#kd { background-size:19px!important; }
	#m { background-size:14px!important; }
	#a a { padding-right: 5px!important; }
	#hr2 { border: 1px solid #c0c0c0!important; }
	#t3 { margin: 15px auto!important; line-height:12px!important; }
	#th4 { 
		font-size:17px!important; 
		padding-bottom:7px!important;
	}
	#th4 a { padding-left:0!important; }
	#td2 { font-size:10px!important; }
	#td3 { font-size:11px!important; }
}

@media screen and (max-height: 330px) {
	#t2 { line-height:0px!important; }
	#hr1 { margin-top:10px!important; }
	#th1 { font-size:12px!important; }
	#th2 { font-size:10px!important; }
	#hr0 { margin-top:10px!important; }
	#th5, #th6, #th7 { font-size:15px!important; }
	#t1 {  	
		margin-top: 10px!important;
  		margin-bottom: 5px!important;
	}
	td img { 
		max-width:9px!important;
	}
	#steam { 
		width:6px!resimportant; 
		padding-left:3px!important; 
	}
	#new { 
		max-width: 25px!important;
		height:10px!important; 
		padding-left:7px!important; 
	}
	#t1 td {
    		color: #A9A9A9!important;
    		font-size:10px!important;
    		height:10px!important;
	}
	#t1 th { 
    		height:20px!important;
    		font-size:10px!important;
	}
	#s { 
		font-size:8px!important; 
		bottom:3px!important;
		right:0!important;
	}
	#o0, #o1 { 
		background-size:4px!important;
		padding-left:7px!important;
	}
	#r1, #r2, #r3, #r4, #r5, #r6, #r7, #r8, #r9, #r10, #r11, #r12, #r13, #r14, #r15, #r16, #r17, #r18, #r19  {
    		background-size: 85%!important;
	}
	#nn, #ad, #ae, #af, #ag, #ai, #al, #am, #ao, #aq, #ar, #as, #at, #au, #aw, #az, #ba, #bb, #bd, #be, #bf, #bg, #bh, #bi, #bj, #bm, #bn, #bo, #br, #bs, #bt, #bw, #by, #bz, #ca, #cc, #cd, #cf, #cg, #ch, #ci, #ck, #cl, #cm, #cn, #co, #cr, #cu, #cw, #cx, #cy, #cz, #de, #dj, #dk, #dm, #do, #dz, #ec, #ee, #eg, #eh, #er, #es, #et, #fi, #fj, #fk, #fo, #fr, #ga, #gb, #gd, #ge, #gg, #gh, #gi, #gl, #gm, #gn, #gq, #gr, #gt, #gu, #gw, #gy, #hk, #hn, #hr, #ht, #hu, #id, #ie, #il, #im, #in, #io, #iq, #ir, #is, #it, #je, #jm, #jo, #jp, #ke, #kg, #kh, #ki, #km, #kn, #kp, #kr, #kw, #ky, #kz, #la, #lb, #lc, #li, #lk, #lr, #ls, #lt, #lu, #lv, #ly, #ma, #mc, #md, #me, #mg, #mh, #mk, #ml, #mm, #mn, #mp, #mr, #ms, #mt, #mu, #mv, #mw, #mx, #my, #mz, #na, #ne, #ng, #ni, #nl, #np, #nr, #nu, #nz, #om, #pa, #pe, #pf, #pg, #ph, #pk, #pl, #pn, #pr, #pt, #pw, #py, #qa, #ro, #rs, #ru, #rw, #sa, #sb, #sc, #sd, #se, #sg, #sh, #si, #sj, #sk, #sl, #sm, #sn, #so, #sr, #ss, #st, #sv, #sx, #sy, #sz, #tc, #td, #tg, #th, #tj, #tk, #tm, #tn, #to, #tr, #tt, #tv, #tw, #tz, #ua, #ug, #us, #uy, #uz, #vc, #ve, #vn, #vu, #wf, #ws, #ye, #yt, #xk, #za, #zm, #zw
	{
    		background-size:13px!important;
		padding-left:17px!important;
	}
	#z, #w, #y { background-size: contain!important; }
	#k { background-size:35px!important;  }
	#d { background-size:15px!important; }
	#kd { background-size:19px!important; }
	#m { background-size:14px!important; }
	#a a { padding-right: 5px!important; }
	#hr2 { border: 1px solid #c0c0c0!important; }
	#t3 { margin: 5px auto!important; line-height:12px!important; }
	#th4 { 
		font-size:14px!important; 
		padding-bottom:7px!important;
	}
	#th4 a { padding-left:0!important; }
	#td2 { font-size:10px!important; }
	#td3 { font-size:11px!important; }
}

@media screen and (max-height: 265px) {
	#t2 { line-height:1px!important; }
	#th1 { font-size:10px!important; }
	#hr1 { 
		margin-top:10px!important;
		border: 1px solid white!important; 
		max-width:35%!important;
	}
	#th2 { font-size:8px!important; }
	#hr0 { margin-top:5px!important; }
	#th5, #th6, #th7 { font-size:12px!important; }
	#t1 {  	
		margin-top: 10px!important;
  		margin-bottom: 5px!important;
	}
	#t1 th:first-child, #t1 td:first-child { 
		padding-right:5px!important; 
		padding-left:5px!important;
	}
	td img { 
		max-width:7px!important;
	}
	#steam { 
		width:5px!important; 
		padding-left:3px!important; 
	}
	#new { 
		max-width: 25px!important;
		height:8px!important; 
		padding-left:5px!important; 
	}
	#t1 td {
    		color: #A9A9A9!important;
    		font-size:8px!important;
    		height:10px!important;
	}
	#t1 th { 
    		height:15px!important;
    		font-size:9px!important;
	}
	#s { 
		font-size:7px!important; 
		bottom:3px!important;
		right:0!important;
	}
	#o0, #o1 { 
		background-size:4px!important;
		padding-left:7px!important;
	}
	#r1, #r2, #r3, #r4, #r5, #r6, #r7, #r8, #r9, #r10, #r11, #r12, #r13, #r14, #r15, #r16, #r17, #r18, #r19  {
    		background-size: 85%!important;
	}
	#nn, #ad, #ae, #af, #ag, #ai, #al, #am, #ao, #aq, #ar, #as, #at, #au, #aw, #az, #ba, #bb, #bd, #be, #bf, #bg, #bh, #bi, #bj, #bm, #bn, #bo, #br, #bs, #bt, #bw, #by, #bz, #ca, #cc, #cd, #cf, #cg, #ch, #ci, #ck, #cl, #cm, #cn, #co, #cr, #cu, #cw, #cx, #cy, #cz, #de, #dj, #dk, #dm, #do, #dz, #ec, #ee, #eg, #eh, #er, #es, #et, #fi, #fj, #fk, #fo, #fr, #ga, #gb, #gd, #ge, #gg, #gh, #gi, #gl, #gm, #gn, #gq, #gr, #gt, #gu, #gw, #gy, #hk, #hn, #hr, #ht, #hu, #id, #ie, #il, #im, #in, #io, #iq, #ir, #is, #it, #je, #jm, #jo, #jp, #ke, #kg, #kh, #ki, #km, #kn, #kp, #kr, #kw, #ky, #kz, #la, #lb, #lc, #li, #lk, #lr, #ls, #lt, #lu, #lv, #ly, #ma, #mc, #md, #me, #mg, #mh, #mk, #ml, #mm, #mn, #mp, #mr, #ms, #mt, #mu, #mv, #mw, #mx, #my, #mz, #na, #ne, #ng, #ni, #nl, #np, #nr, #nu, #nz, #om, #pa, #pe, #pf, #pg, #ph, #pk, #pl, #pn, #pr, #pt, #pw, #py, #qa, #ro, #rs, #ru, #rw, #sa, #sb, #sc, #sd, #se, #sg, #sh, #si, #sj, #sk, #sl, #sm, #sn, #so, #sr, #ss, #st, #sv, #sx, #sy, #sz, #tc, #td, #tg, #th, #tj, #tk, #tm, #tn, #to, #tr, #tt, #tv, #tw, #tz, #ua, #ug, #us, #uy, #uz, #vc, #ve, #vn, #vu, #wf, #ws, #ye, #yt, #xk, #za, #zm, #zw
	{
    		background-size:10px!important;
		padding-left:12px!important;
	}
	#z, #w, #y { background-size: contain!important; }
	#k { background-size:27px!important;  }
	#d { background-size:12px!important; }
	#kd { background-size:16px!important; }
	#m { background-size:11px!important; }
	#a a { padding-right: 5px!important;}
	#hr2 { border: 1px solid #c0c0c0!important; }
	#t3 { margin: 5px auto!important; line-height:8px!important; }
	#th4 { 
		font-size:12px!important; 
		padding-bottom:7px!important;
	}
	#th4 a { padding-left:0!important; }
	#td2 { font-size:8px!important; }
	#td3 { font-size:9px!important; }
}