#url p { 
	display:inline;
	font-size:17px;
}
html { 
	background-image: url('./img/background-stats.jpg');
	background-position: left;
    	background-repeat: relative;
    	background-attachment: fixed;
}
body {
    	font-family: sans-serif;
    	font-size: 12px;
    	color: #808080;
    	margin: 0;
        padding: 0;
        height: 100%;
}
table {
    	width: 100%;
}
td {
    	vertical-align: top;
}
#a, #n, #o {
	padding-left:10px;
    	padding-top:10px;
    	padding-right:10px;
}
#a {
        max-width: 330px;
        width: 330px;
    	white-space: nowrap;
}
#a img:hover { 
	cursor:pointer; 
	-webkit-transform: scale(1.05);
}
#a img {
    	width: 105px;
    	float: left;
    	margin: 2px;
    	border-radius: 5px;
}
#nn, #ad, #ae, #af, #ag, #ai, #al, #am, #ao, #aq, #ar, #as, #at, #au, #aw, #az, #ba, #bb, #bd, #be, #bf, #bg, #bh, #bi, #bj, #bm, #bn, #bo, #br, #bs, #bt, #bw, #by, #bz, #ca, #cc, #cd, #cf, #cg, #ch, #ci, #ck, #cl, #cm, #cn, #co, #cr, #cu, #cw, #cx, #cy, #cz, #de, #dj, #dk, #dm, #do, #dz, #ec, #ee, #eg, #eh, #er, #es, #et, #fi, #fj, #fk, #fo, #fr, #ga, #gb, #gd, #ge, #gg, #gh, #gi, #gl, #gm, #gn, #gq, #gr, #gt, #gu, #gw, #gy, #hk, #hn, #hr, #ht, #hu, #id, #ie, #il, #im, #in, #io, #iq, #ir, #is, #it, #je, #jm, #jo, #jp, #ke, #kg, #kh, #ki, #km, #kn, #kp, #kr, #kw, #ky, #kz, #la, #lb, #lc, #li, #lk, #lr, #ls, #lt, #lu, #lv, #ly, #ma, #mc, #md, #me, #mg, #mh, #mk, #ml, #mm, #mn, #mp, #mr, #ms, #mt, #mu, #mv, #mw, #mx, #my, #mz, #na, #ne, #ng, #ni, #nl, #np, #nr, #nu, #nz, #om, #pa, #pe, #pf, #pg, #ph, #pk, #pl, #pn, #pr, #pt, #pw, #py, #qa, #ro, #rs, #ru, #rw, #sa, #sb, #sc, #sd, #se, #sg, #sh, #si, #sj, #sk, #sl, #sm, #sn, #so, #sr, #ss, #st, #sv, #sx, #sy, #sz, #tc, #td, #tg, #th, #tj, #tk, #tm, #tn, #to, #tr, #tt, #tv, #tw, #tz, #ua, #ug, #us, #uy, #uz, #vc, #ve, #vn, #vu, #wf, #ws, #ye, #yt, #xk, #za, #zm, #zw
{
    	background-repeat: no-repeat;
    	background-position-x: 15px;
    	background-position-y: 5px;
	display: inline-block;
}
#nn { background-image: url('./img/countries/nn.png'); }
#ad { background-image: url('./img/countries/ad.png'); }
#ae { background-image: url('./img/countries/ae.png'); }
#af { background-image: url('./img/countries/af.png'); }
#ag { background-image: url('./img/countries/ag.png'); }
#ai { background-image: url('./img/countries/ai.png'); }
#al { background-image: url('./img/countries/al.png'); }
#am { background-image: url('./img/countries/am.png'); }
#ao { background-image: url('./img/countries/ao.png'); }
#aq { background-image: url('./img/countries/aq.png'); }
#ar { background-image: url('./img/countries/ar.png'); }
#as { background-image: url('./img/countries/as.png'); }
#at { background-image: url('./img/countries/at.png'); }
#au { background-image: url('./img/countries/au.png'); }
#aw { background-image: url('./img/countries/aw.png'); }
#az { background-image: url('./img/countries/az.png'); }
#ba { background-image: url('./img/countries/ba.png'); }
#bb { background-image: url('./img/countries/bb.png'); }
#bd { background-image: url('./img/countries/bd.png'); }
#be { background-image: url('./img/countries/be.png'); }
#bf { background-image: url('./img/countries/bf.png'); }
#bg { background-image: url('./img/countries/bg.png'); }
#bh { background-image: url('./img/countries/bh.png'); }
#bi { background-image: url('./img/countries/bi.png'); }
#bj { background-image: url('./img/countries/bj.png'); }
#bm { background-image: url('./img/countries/bm.png'); }
#bn { background-image: url('./img/countries/bn.png'); }
#bo { background-image: url('./img/countries/bo.png'); }
#br { background-image: url('./img/countries/br.png'); }
#bs { background-image: url('./img/countries/bs.png'); }
#bt { background-image: url('./img/countries/bt.png'); }
#bw { background-image: url('./img/countries/bw.png'); }
#by { background-image: url('./img/countries/by.png'); }
#bz { background-image: url('./img/countries/bz.png'); }
#ca { background-image: url('./img/countries/ca.png'); }
#cc { background-image: url('./img/countries/cc.png'); }
#cd { background-image: url('./img/countries/cd.png'); }
#cf { background-image: url('./img/countries/cf.png'); }
#cg { background-image: url('./img/countries/cg.png'); }
#ch { background-image: url('./img/countries/ch.png'); }
#ci { background-image: url('./img/countries/ci.png'); }
#ck { background-image: url('./img/countries/ck.png'); }
#cl { background-image: url('./img/countries/cl.png'); }
#cm { background-image: url('./img/countries/cm.png'); }
#cn { background-image: url('./img/countries/cn.png'); }
#co { background-image: url('./img/countries/co.png'); }
#cr { background-image: url('./img/countries/cr.png'); }
#cu { background-image: url('./img/countries/cu.png'); }
#cw { background-image: url('./img/countries/cw.png'); }
#cx { background-image: url('./img/countries/cx.png'); }
#cy { background-image: url('./img/countries/cy.png'); }
#cz { background-image: url('./img/countries/cz.png'); }
#de { background-image: url('./img/countries/de.png'); }
#dj { background-image: url('./img/countries/dj.png'); }
#dk { background-image: url('./img/countries/dk.png'); }
#dm { background-image: url('./img/countries/dm.png'); }
#do { background-image: url('./img/countries/do.png'); }
#dz { background-image: url('./img/countries/dz.png'); }
#ec { background-image: url('./img/countries/ec.png'); }
#ee { background-image: url('./img/countries/ee.png'); }
#eg { background-image: url('./img/countries/eg.png'); }
#eh { background-image: url('./img/countries/eh.png'); }
#er { background-image: url('./img/countries/er.png'); }
#es { background-image: url('./img/countries/es.png'); }
#et { background-image: url('./img/countries/et.png'); }
#fi { background-image: url('./img/countries/fi.png'); }
#fj { background-image: url('./img/countries/fj.png'); }
#fk { background-image: url('./img/countries/fk.png'); }
#fo { background-image: url('./img/countries/fo.png'); }
#fr { background-image: url('./img/countries/fr.png'); }
#ga { background-image: url('./img/countries/ga.png'); }
#gb { background-image: url('./img/countries/gb.png'); }
#gd { background-image: url('./img/countries/gd.png'); }
#ge { background-image: url('./img/countries/ge.png'); }
#gg { background-image: url('./img/countries/gg.png'); }
#gh { background-image: url('./img/countries/gh.png'); }
#gi { background-image: url('./img/countries/gi.png'); }
#gl { background-image: url('./img/countries/gl.png'); }
#gm { background-image: url('./img/countries/gm.png'); }
#gn { background-image: url('./img/countries/gn.png'); }
#gq { background-image: url('./img/countries/gq.png'); }
#gr { background-image: url('./img/countries/gr.png'); }
#gt { background-image: url('./img/countries/gt.png'); }
#gu { background-image: url('./img/countries/gu.png'); }
#gw { background-image: url('./img/countries/gw.png'); }
#gy { background-image: url('./img/countries/gy.png'); }
#hk { background-image: url('./img/countries/hk.png'); }
#hn { background-image: url('./img/countries/hn.png'); }
#hr { background-image: url('./img/countries/hr.png'); }
#ht { background-image: url('./img/countries/ht.png'); }
#hu { background-image: url('./img/countries/hu.png'); }
#id { background-image: url('./img/countries/id.png'); }
#ie { background-image: url('./img/countries/ie.png'); }
#il { background-image: url('./img/countries/il.png'); }
#im { background-image: url('./img/countries/im.png'); }
#in { background-image: url('./img/countries/in.png'); }
#io { background-image: url('./img/countries/io.png'); }
#iq { background-image: url('./img/countries/iq.png'); }
#ir { background-image: url('./img/countries/ir.png'); }
#is { background-image: url('./img/countries/is.png'); }
#it { background-image: url('./img/countries/it.png'); }
#je { background-image: url('./img/countries/je.png'); }
#jm { background-image: url('./img/countries/jm.png'); }
#jo { background-image: url('./img/countries/jo.png'); }
#jp { background-image: url('./img/countries/jp.png'); }
#ke { background-image: url('./img/countries/ke.png'); }
#kg { background-image: url('./img/countries/kg.png'); }
#kh { background-image: url('./img/countries/kh.png'); }
#ki { background-image: url('./img/countries/ki.png'); }
#km { background-image: url('./img/countries/km.png'); }
#kn { background-image: url('./img/countries/kn.png'); }
#kp { background-image: url('./img/countries/kp.png'); }
#kr { background-image: url('./img/countries/kr.png'); }
#kw { background-image: url('./img/countries/kw.png'); }
#ky { background-image: url('./img/countries/ky.png'); }
#kz { background-image: url('./img/countries/kz.png'); }
#la { background-image: url('./img/countries/la.png'); }
#lb { background-image: url('./img/countries/lb.png'); }
#lc { background-image: url('./img/countries/lc.png'); }
#li { background-image: url('./img/countries/li.png'); }
#lk { background-image: url('./img/countries/lk.png'); }
#lr { background-image: url('./img/countries/lr.png'); }
#ls { background-image: url('./img/countries/ls.png'); }
#lt { background-image: url('./img/countries/lt.png'); }
#lu { background-image: url('./img/countries/lu.png'); }
#lv { background-image: url('./img/countries/lv.png'); }
#ly { background-image: url('./img/countries/ly.png'); }
#ma { background-image: url('./img/countries/ma.png'); }
#mc { background-image: url('./img/countries/mc.png'); }
#md { background-image: url('./img/countries/md.png'); }
#me { background-image: url('./img/countries/me.png'); }
#mg { background-image: url('./img/countries/mg.png'); }
#mh { background-image: url('./img/countries/mh.png'); }
#mk { background-image: url('./img/countries/mk.png'); }
#ml { background-image: url('./img/countries/ml.png'); }
#mm { background-image: url('./img/countries/mm.png'); }
#mn { background-image: url('./img/countries/mn.png'); }
#mp { background-image: url('./img/countries/mp.png'); }
#mr { background-image: url('./img/countries/mr.png'); }
#ms { background-image: url('./img/countries/ms.png'); }
#mt { background-image: url('./img/countries/mt.png'); }
#mu { background-image: url('./img/countries/mu.png'); }
#mv { background-image: url('./img/countries/mv.png'); }
#mw { background-image: url('./img/countries/mw.png'); }
#mx { background-image: url('./img/countries/mx.png'); }
#my { background-image: url('./img/countries/my.png'); }
#mz { background-image: url('./img/countries/mz.png'); }
#na { background-image: url('./img/countries/na.png'); }
#ne { background-image: url('./img/countries/ne.png'); }
#ng { background-image: url('./img/countries/ng.png'); }
#ni { background-image: url('./img/countries/ni.png'); }
#nl { background-image: url('./img/countries/nl.png'); }
#np { background-image: url('./img/countries/np.png'); }
#nr { background-image: url('./img/countries/nr.png'); }
#nu { background-image: url('./img/countries/nu.png'); }
#nz { background-image: url('./img/countries/nz.png'); }
#om { background-image: url('./img/countries/om.png'); }
#pa { background-image: url('./img/countries/pa.png'); }
#pe { background-image: url('./img/countries/pe.png'); }
#pf { background-image: url('./img/countries/pf.png'); }
#pg { background-image: url('./img/countries/pg.png'); }
#ph { background-image: url('./img/countries/ph.png'); }
#pk { background-image: url('./img/countries/pk.png'); }
#pl { background-image: url('./img/countries/pl.png'); }
#pn { background-image: url('./img/countries/pn.png'); }
#pr { background-image: url('./img/countries/pr.png'); }
#pt { background-image: url('./img/countries/pt.png'); }
#pw { background-image: url('./img/countries/pw.png'); }
#py { background-image: url('./img/countries/py.png'); }
#qa { background-image: url('./img/countries/qa.png'); }
#ro { background-image: url('./img/countries/ro.png'); }
#rs { background-image: url('./img/countries/rs.png'); }
#ru { background-image: url('./img/countries/ru.png'); }
#rw { background-image: url('./img/countries/rw.png'); }
#sa { background-image: url('./img/countries/sa.png'); }
#sb { background-image: url('./img/countries/sb.png'); }
#sc { background-image: url('./img/countries/sc.png'); }
#sd { background-image: url('./img/countries/sd.png'); }
#se { background-image: url('./img/countries/se.png'); }
#sg { background-image: url('./img/countries/sg.png'); }
#sh { background-image: url('./img/countries/sh.png'); }
#si { background-image: url('./img/countries/si.png'); }
#sj { background-image: url('./img/countries/sj.png'); }
#sk { background-image: url('./img/countries/sk.png'); }
#sl { background-image: url('./img/countries/sl.png'); }
#sm { background-image: url('./img/countries/sm.png'); }
#sn { background-image: url('./img/countries/sn.png'); }
#so { background-image: url('./img/countries/so.png'); }
#sr { background-image: url('./img/countries/sr.png'); }
#ss { background-image: url('./img/countries/ss.png'); }
#st { background-image: url('./img/countries/st.png'); }
#sv { background-image: url('./img/countries/sv.png'); }
#sx { background-image: url('./img/countries/sx.png'); }
#sy { background-image: url('./img/countries/sy.png'); }
#sz { background-image: url('./img/countries/sz.png'); }
#tc { background-image: url('./img/countries/tc.png'); }
#td { background-image: url('./img/countries/td.png'); }
#tg { background-image: url('./img/countries/tg.png'); }
#th { background-image: url('./img/countries/th.png'); }
#tj { background-image: url('./img/countries/tj.png'); }
#tk { background-image: url('./img/countries/tk.png'); }
#tm { background-image: url('./img/countries/tm.png'); }
#tn { background-image: url('./img/countries/tn.png'); }
#to { background-image: url('./img/countries/to.png'); }
#tr { background-image: url('./img/countries/tr.png'); }
#tt { background-image: url('./img/countries/tt.png'); }
#tv { background-image: url('./img/countries/tv.png'); }
#tw { background-image: url('./img/countries/tw.png'); }
#tz { background-image: url('./img/countries/tz.png'); }
#ua { background-image: url('./img/countries/ua.png'); }
#ug { background-image: url('./img/countries/ug.png'); }
#us { background-image: url('./img/countries/us.png'); }
#uy { background-image: url('./img/countries/uy.png'); }
#uz { background-image: url('./img/countries/uz.png'); }
#vc { background-image: url('./img/countries/vc.png'); }
#ve { background-image: url('./img/countries/ve.png'); }
#vn { background-image: url('./img/countries/vn.png'); }
#vu { background-image: url('./img/countries/vu.png'); }
#wf { background-image: url('./img/countries/wf.png'); }
#ws { background-image: url('./img/countries/ws.png'); }
#ye { background-image: url('./img/countries/ye.png'); }
#yt { background-image: url('./img/countries/yt.png'); }
#xk { background-image: url('./img/countries/xk.png'); }
#za { background-image: url('./img/countries/za.png'); }
#zm { background-image: url('./img/countries/zm.png'); }
#zw { background-image: url('./img/countries/zw.png'); }
#c {
    	position: relative;
    	margin-top: 7px;
    	padding: 10px 5px;
    	overflow: hidden;
    	border-radius: 10px;
	border-style: inset;
	border-width: 2px;
	border-radius: 5px;
	border-color: #9a8547;
}
#a #u:hover { color:white; }
#a #u {
    	padding-left:40px;
    	padding-top:3px;
	font-size: 13px;
	color: #a9a9a9;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#d {
    	background-color: #222227;
    	color: #bababb;
}

#a #d {
 	position: relative;
	padding: 7px 0px 7px 14px;
	height: 110px;
	color: #525252;
	width: calc(100% - 14px);
    	border-radius: 10px;
	border-style: inset;
	border-width: 2px;
	border-radius: 5px;
	border-color: #00ffff;
}
#a #f0:hover, #a #f1:hover { color:white; }
#a #f0, #a #f1 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width:175px;
    	font-size: 15px;
    	padding-top: 10px;
    	padding-left: 30px;
	padding-bottom: 2px;
    	color: #00ffff;
    	font-weight: 700;
	background-repeat: no-repeat;
	background-position-y:16px;
	background-position-x:15px;
}
#a #f0 { background-image: url('./img/offline.png'); }
#a #f1 { background-image: url('./img/online.png'); }

#a #g {
    	vertical-align: top;
    	display: inline;
    	font-size: 15px;
    	color: #b8a365;
}
#a #t:hover { color:white; }
#a #t { 
	white-space:nowrap;
	padding-left:15px;
    	vertical-align: top;
	position:absolute;
    	font-size: 12px;
	font-weight:700;
    	color: #b8a365;
}
#a #t a { 
	padding-top:13px;
	display:block;
	font-size: 10px; 
	color: #a9a9a9;
}
#sk11:hover { color:white; }
#sk12:hover { color:white; }
#sk1 td { 
	color: black;
	line-height:14px;
	text-align:center;
}
#sk1 {
	width:80px;
    	margin-top:35px;
    	margin-left:15px;
    	position:absolute;
    	display:block;
	border-style:solid;
	border-width:0px;
}
#sk11 { 
	font-size:15px;
	width:40px;
	font-weight:bold;
}
#sk12 {
	font-size:14px;
	width:80px;
	background: white;
}
#n #d {
    	position: relative;
    	padding: 7px 0px 7px 40px;
    	height: 30px;
    	color: #525252;
    	background-image: url('./img/icon-statistics.png');
    	background-repeat: no-repeat;
    	background-position: 15px;
    	border-radius: 10px;
    	border-style: inset;
    	border-width: 2px;
    	border-radius: 5px;
    	border-color: #00ffff;
}
#n #f:hover { color:white; }
#n #f {
    	font-size: 17px;
   	margin: 5px;
   	padding-bottom: 5px;
   	color: #c9c9db;
	font-weight: 700;
}
#o {
    	max-width: 200px;
	min-width: 205px;
}
#o #d {
    	position: relative;
    	padding: 7px 0px 7px 50px;
    	height: 30px;
    	color: #525252;
    	background-image: url('./img/icon-bestweapons.png');
    	background-repeat: no-repeat;
    	background-position: 20px;
    	border-radius: 10px;
    	border-style: inset;
    	border-width: 2px;
    	border-radius: 5px;
    	border-color: #00ffff;
}
#o #f:hover { color:white; }
#o #f {
    	font-size: 17px;
    	margin: 5px;
    	padding-bottom: 5px;
    	color: #c9c9db;
    	font-weight: 700;
}
#c #h {
    	display: inline-block;
    	vertical-align: top;
    	padding-left:85px;
    	width: 230px;
    	line-height: 0px;
    	font-size: 12px;
}
#c #h #i:hover { color:white; }
#c #h #i { 
	color:#00ffff; 
	font-size:10px;
	font-weight: 700;
	line-height: 0px;
	margin-top:5px;
}
#c #h #j {
    	position: relative;
    	width: 65%;
    	height: 9px;
    	background: #363b47;
}
.progress { 
	height:100%; 
	background:#00ffff; 
}
#c #h #k:hover { color:white; }
#c #h #k {
	font-size:14px;
	padding-bottom:10px;
	margin: 10px 0;
	color:#b8a365;
    	font-weight: 700;
}
#c #g {
    	padding-left: 10px;
    	color: #b8a365;
}
#l1 p:hover, #l2 p:hover, #l3 p:hover { color:white; -webkit-transform: scale(1.03); }
#l1, #l2, #l3 {
    	position: relative;
    	margin-top: 7px;
    	padding: 1px 10px;
    	border-radius: 10px;
    	border-style: inset;
    	border-width: 2px;
    	border-radius: 5px;
    	border-color: #9a8547;
}
#l1 p, #l2 p, #l3 p {
	line-height: 17px;
	font-weight:700;
    	font-size:14px;
	margin-top: 7px;
    	margin-bottom:6px;
	padding-left:30px;
	background-repeat: no-repeat;
}
#l1 a, #l2 a, #l3 a {
	font-weight:700;
    	font-size:13px;
    	padding-left:10px;
    	color:#b8a365;
}
#kills { background-image:url('./img/mini/icon-kills.png'); background-position-x: -8px; }
#deaths { background-image:url('./img/mini/icon-skull.png'); background-position-x: 1px; }
#assists { background-image:url('./img/mini/icon-assist.png'); }
#headshots { background-image:url('./img/mini/icon-headshot.png'); }
#kdratio { background-image:url('./img/mini/icon-kd.png'); background-position-x: -1px; }

#shots { background-image:url('./img/mini/icon-bullets.png'); }
#hits { background-image:url('./img/mini/icon-hits.png'); }
#damage { background-image:url('./img/mini/icon-damage.png'); background-position-x: 2px; }
#accuracy { background-image:url('./img/mini/icon-accuracy.png'); background-position-x: 1px;}
#efficiency { background-image:url('./img/mini/icon-efficiency.png'); background-position-x: 1px;}

#firstlogin { background-image:url('./img/mini/icon-login1.png'); background-position-x: -1px; }
#lastlogin { background-image:url('./img/mini/icon-login2.png'); }
#playedtime { background-image:url('./img/mini/icon-time.png'); }

#m {
    	position: relative;
    	height:32px;
    	margin-top: 7px;
    	padding: 15px 15px;
    	border-radius: 10px;
    	border-style: inset;
    	border-width: 2px;
    	border-radius: 5px;
    	border-color: #9a8547;
}
#m:hover { color:white; }
#m p {
	text-align: left;
    	font-size:12px;
    	font-weight:700;
}
#r1:hover, #r2:hover, #r3:hover, #r4:hover, #r5:hover, #r6:hover, #r7:hover, #r8:hover, #r9:hover, #r10:hover, #r11:hover, #r12:hover, #r13:hover, #r14:hover, #r15:hover, #r16:hover, #r17:hover, #r18:hover, #r19:hover, #rn1:hover, #rn2:hover, #rn3:hover, #rn4:hover, #rn5:hover, #rn6:hover, #rn7:hover, #rn8:hover, #rn9:hover, #rn10:hover, #rn11:hover, #rn12:hover, #rn13:hover, #rn14:hover, #rn15:hover, #rn16:hover, #rn17:hover, #rn18:hover, #rn19:hover { color:white; -webkit-transform: scale(1.1);}
#r1, #r2, #r3, #r4, #r5, #r6, #r7, #r8, #r9, #r10, #r11, #r12, #r13, #r14, #r15, #r16, #r17, #r18, #r19, #rn1, #rn2, #rn3, #rn4, #rn5, #rn6, #rn7, #rn8, #rn9, #rn10, #rn11, #rn12, #rn13, #rn14, #rn15, #rn16, #rn17, #rn18, #rn19 {
        position:absolute;
    	display: inline-block;
    	width: 25%;
	height:50px;
    	text-align:center;
    	background-repeat: no-repeat;
    	background-position: center;
	line-height:100px;
	font-size:11px;
}
#rn1, #rn2, #rn3, #rn4, #rn5, #rn6, #rn7, #rn8, #rn9, #rn10, #rn11, #rn12, #rn13, #rn14, #rn15, #rn16, #rn17, #rn18, #rn19 {
	top:10px; 
	right:0px;
}
#r1, #rn1 { background-image: url('./img/ranks/rank0.png'); }
#r2, #rn2 { background-image: url('./img/ranks/rank1.png'); }
#r3, #rn3 { background-image: url('./img/ranks/rank2.png'); }
#r4, #rn4 { background-image: url('./img/ranks/rank3.png'); }
#r5, #rn5 { background-image: url('./img/ranks/rank4.png'); }
#r6, #rn6 { background-image: url('./img/ranks/rank5.png'); }
#r7, #rn7 { background-image: url('./img/ranks/rank6.png'); }
#r8, #rn8 { background-image: url('./img/ranks/rank7.png'); }
#r9, #rn9 { background-image: url('./img/ranks/rank8.png'); }
#r10, #rn10 { background-image: url('./img/ranks/rank9.png'); }
#r11, #rn11 { background-image: url('./img/ranks/rank10.png'); }
#r12, #rn12 { background-image: url('./img/ranks/rank11.png'); }
#r13, #rn13 { background-image: url('./img/ranks/rank12.png'); }
#r14, #rn14 { background-image: url('./img/ranks/rank13.png'); }
#r15, #rn15 { background-image: url('./img/ranks/rank14.png'); }
#r16, #rn16 { background-image: url('./img/ranks/rank15.png'); }
#r17, #rn17 { background-image: url('./img/ranks/rank16.png'); }
#r18, #rn18 { background-image: url('./img/ranks/rank17.png'); }
#r19, #rn19 { background-image: url('./img/ranks/rank18.png'); }

#bp:hover, #di:hover, #bc:hover, #mvp:hover, #rwn:hover { color:white; -webkit-transform: scale(1.05);}
#bp, #di, #bc, #mvp, #rwn {
	padding-left: 40px;
    	font-size:16px;
    	line-height: 28px;
    	font-weight: 700;
	background-position:left;
	background-position-x: 10px;
    	background-repeat: no-repeat;
    	color:#808080;
	margin-top: 5px;
	margin-bottom:0px;
}
#bp { background-image: url('./img/mini/icon-c4-explosive.png'); }
#di { background-image: url('./img/mini/icon-defuse-kit.png'); }
#bc { background-image: url('./img/mini/icon-explosion.png'); }
#mvp { background-image: url('./img/mini/icon-star.png'); }
#rwn { background-image: url('./img/mini/icon-trophy.png'); }
#w0, #w1, #w2, #w3, #w4, #w5, #w6, #w7, #w8, #w9, #w10, #w11, #w12, #w13, #w14, #w15, #w16, #w17, #w18, #w19, #w20, #w21, #w22, #w23, #w24, #w25, #w26 {
    	position: relative;
    	padding-top: 25px;
	bottom:40px;
    	font-size:15px;
    	font-weight: 700;
    	color: #d6be74;
    	background-repeat: no-repeat;
    	background-position-x:center;
	background-position-y:-10px;
}
#w1 { background-image: url('./img/weapons/knife.png'); }
#w2 { background-image: url('./img/weapons/glock18.png'); }
#w3 { background-image: url('./img/weapons/usp.png'); }
#w4 { background-image: url('./img/weapons/p228.png'); }
#w5 { background-image: url('./img/weapons/deagle.png'); }
#w6 { background-image: url('./img/weapons/fiveseven.png'); }
#w7 { background-image: url('./img/weapons/elite.png'); }
#w8 { background-image: url('./img/weapons/m3.png'); }
#w9 { background-image: url('./img/weapons/xm1014.png'); }
#w10 { background-image: url('./img/weapons/tmp.png'); }
#w11 { background-image: url('./img/weapons/mac10.png'); }
#w12 { background-image: url('./img/weapons/mp5.png'); }
#w13 { background-image: url('./img/weapons/ump45.png'); }
#w14 { background-image: url('./img/weapons/p90.png'); }
#w15 { background-image: url('./img/weapons/m249.png'); }
#w16 { background-image: url('./img/weapons/galil.png'); }
#w17 { background-image: url('./img/weapons/famas.png'); }
#w18 { background-image: url('./img/weapons/ak47.png'); }
#w19 { background-image: url('./img/weapons/m4a1.png'); }
#w20 { background-image: url('./img/weapons/sg552.png'); }
#w21 { background-image: url('./img/weapons/aug.png'); }
#w22 { background-image: url('./img/weapons/scout.png'); }
#w23 { background-image: url('./img/weapons/awp.png'); }
#w24 { background-image: url('./img/weapons/g3sg1.png'); }
#w25 { background-image: url('./img/weapons/sg550.png'); }
#w26 { background-image: url('./img/weapons/hegrenade.png'); }